### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data_load)
purchase_data.head(100)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92
97,97,Aiduecal76,20,Male,134,Undead Crusader,4.50
98,98,Chadossa89,23,Male,141,Persuasion,3.19
99,99,Haisrisuir60,23,Male,101,Final Critic,4.19

## Player Count

* Display the total number of players

In [2]:
# count unique screenames
count_of_players = purchase_data["SN"].nunique()
player_count = pd.DataFrame({"Total Players": [count_of_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items_purchased = purchase_data["Item Name"].nunique()
average_purchase_price = purchase_data["Price"].mean()
number_of_orders = purchase_data["Purchase ID"].nunique()
total_revenue = purchase_data["Price"].sum()

In [4]:
purchasing_summary = pd.DataFrame(
    {"Number of Unique Items": [unique_items_purchased],
    "Average Purchase Price": [average_purchase_price],
    "Total Number of Purchases": [number_of_orders],
    "Total Revenue": [total_revenue]})

In [5]:
purchasing_summary["Average Purchase Price"] = purchasing_summary["Average Purchase Price"].map(
    "${0:,.2f}".format)
purchasing_summary["Total Revenue"] = purchasing_summary["Total Revenue"].map(
    "${0:,.2f}".format)
purchasing_summary

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [43]:
purchase_data_demographics = purchase_data.drop_duplicates(subset=["SN"])

In [44]:
male_count = purchase_data_demographics["Gender"].value_counts()["Male"]
female_count = purchase_data_demographics["Gender"].value_counts()["Female"]
other_gender_count = purchase_data_demographics["Gender"].value_counts()["Other / Non-Disclosed"]

(male_count, female_count, other_gender_count)

(484, 81, 11)

In [45]:
gender_percent = count_of_players

male_percent = (male_count/count_of_players) * 100
female_percent = (female_count/count_of_players) * 100
other_gender_percent = (other_gender_count/count_of_players) * 100

(male_percent, female_percent, other_gender_percent)

(84.02777777777779, 14.0625, 1.9097222222222223)

In [46]:
gender_demographics = pd.DataFrame(
    {"Number of Male Players": [male_count],
     "% Male Players": [male_percent],
     "Number of Female Players": [female_count],
     "% Female Players": [female_percent],
     "Number of Other / Non-Disclosed Players": [other_gender_count],
     "% of Other / Non-Disclosed Players": [other_gender_percent]})

In [47]:
gender_demographics["% Male Players"] = gender_demographics["% Male Players"].map(
    "{0:,.2f}%".format)
gender_demographics["% Female Players"] = gender_demographics["% Female Players"].map(
    "{0:,.2f}%".format)
gender_demographics["% of Other / Non-Disclosed Players"] = gender_demographics["% of Other / Non-Disclosed Players"].map(
    "{0:,.2f}%".format)
gender_demographics

,Number of Male Players,% Male Players,Number of Female Players,% Female Players,Number of Other / Non-Disclosed Players,% of Other / Non-Disclosed Players
0,484,84.03%,81,14.06%,11,1.91%

In [60]:
purchase_data_demographics = purchase_data.drop_duplicates(subset=["SN", "Age", "Gender"])
male_count = purchase_data_demographics["Gender"].value_counts()["Male"]
female_count = purchase_data_demographics["Gender"].value_counts()["Female"]
other_gender_count = purchase_data_demographics["Gender"].value_counts()["Other / Non-Disclosed"]
male_percent = (male_count/count_of_players) * 100
female_percent = (female_count/count_of_players) * 100
other_gender_percent = (other_gender_count/count_of_players) * 100



gender_demographics = pd.DataFrame({"Male": [male_count, male_percent],
     "Female": [female_count, female_percent]})

#gender_demographics.columns = ["Total Count", "Percentage of Players"]
#gender_demographics.index = ["Male", "Female", "Other / Non-Disclosed"]



gender_demographics

         Male   Female
0  484.000000  81.0000
1   84.027778  14.0625

In [90]:
#purchase_data_gender_count = purchase_data_demographics.loc[:, ["Gender", "Purchase ID"]]
#purchase_data_gender_group = purchase_data_demographics.groupby(["Gender"]).count["Purchase ID"].rename("Total Count")

#purchase_data_gender_group

#purchase_data.gender.count()

purchase_data_gender_count = purchase_data_demographics.groupby("Gender").count()["Age"].rename("Total Count")
purchase_data_percent_players = purchase_data_demographics.groupby("Gender").count()["Age"]/(count_of_players) * 100

gender_demographics = pd.DataFrame({"Total Count": purchase_data_gender_count,
     "Percentage of Players": purchase_data_percent_players})

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map(
    "{0:,.2f}%".format)
gender_demographics


#Username with the highest amount spent
#Retrieve Item ID, Item Name, and Item Price columns
#top_spenders = purchase_data.loc[:, ["SN", "Item Name", "Price"]]

#add variables
#item_count = popular_items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
#item_price = popular_items.groupby(["Item ID", "Item Name"])["Price"]
#total_items_purchased = popular_items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

#total_items_purchased

#popular_items = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

#add variables
#item_count = popular_items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
#item_price = popular_items.groupby(["Item ID", "Item Name"]).sum()["Price"]
#total_items_purchased = popular_items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
#popular_items

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [97]:
#Dedupe purchase data 
purchase_data_demographics = purchase_data.drop_duplicates(subset=["SN"])

#create and calculate variables
purchase_data_gender_count = purchase_data_demographics.groupby("Gender").count()["Age"].rename("Total Count")
purchase_data_percent_players = purchase_data_demographics.groupby("Gender").count()["Age"]/(count_of_players) * 100

#put variables in a dataframe
gender_demographics = pd.DataFrame({"Total Count": purchase_data_gender_count,
     "Percentage of Players": purchase_data_percent_players})

#format values in dataframe
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map(
    "{0:,.2f}%".format)

#Display dataframe
gender_demographics

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Run basic calculations with purchasing data, not demographic data
count_purchase_male =  purchase_data["Gender"].value_counts()["Male"]
count_purchase_female = purchase_data["Gender"].value_counts()["Female"]
count_purchase_othergender = purchase_data["Gender"].value_counts()["Other / Non-Disclosed"]
average_purchase_price_male = purchase_data[purchase_data["Gender"]=="Male"]["Price"].sum() / purchase_data["Gender"].value_counts()["Male"] 
average_purchase_price_female = purchase_data[purchase_data["Gender"]=="Female"]["Price"].sum() / purchase_data["Gender"].value_counts()["Female"] 
average_purchase_price_othergender = purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["Price"].sum() / purchase_data["Gender"].value_counts()["Other / Non-Disclosed"] 
total_purchase_male = purchase_data[purchase_data["Gender"]=="Male"]["Price"].sum()
total_purchase_female = purchase_data[purchase_data["Gender"]=="Female"]["Price"].sum() 
total_purchase_othergender = purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["Price"].sum() 
average_purchase_total_male = (purchase_data[purchase_data["Gender"]=="Male"]["Price"].sum() + purchase_data["Gender"].value_counts()["Male"]) / purchase_data["Gender"].value_counts()["Male"] 
average_purchase_total_female = (purchase_data[purchase_data["Gender"]=="Female"]["Price"].sum() + purchase_data["Gender"].value_counts()["Female"]) / purchase_data["Gender"].value_counts()["Female"] 
average_purchase_total_othergender = (purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"]["Price"].sum() + purchase_data["Gender"].value_counts()["Other / Non-Disclosed"]) / purchase_data["Gender"].value_counts()["Other / Non-Disclosed"]

In [ ]:
#Create dataframe
gender_purchasing = pd.DataFrame(
    {"Male Number of Purchases": [count_purchase_male], 
     "Male Average Purchase Price": [average_purchase_price_male],
     "Male Total Purchase Value": [total_purchase_male],
     "Male Average Purchase Total Per Person": [average_purchase_total_male],
     "Female Number of Purchases": [count_purchase_female],
     "Female Average Purchase Price": [average_purchase_price_female],     
     "Female Total Purchase Value": [total_purchase_female],
     "Female Average Purchase Total Per Person": [average_purchase_total_female],
     "Other / Non-Disclosed Gender Number of Purchases": [count_purchase_othergender],
     "Other / Non-Disclosed Gender Average Purchase Price": [average_purchase_price_othergender],
     "Other / Non-Disclosed Total Purchase Value": [total_purchase_othergender],
     "Other / Non-Disclosed Average Purchase Total Per Person": [average_purchase_total_othergender]
    })

In [ ]:
#Clean up formatting and display dataframe
gender_purchasing["Male Average Purchase Price"] = gender_purchasing["Male Average Purchase Price"].map("${0:,.2f}".format)
gender_purchasing["Male Total Purchase Value"] = gender_purchasing["Male Total Purchase Value"].map("${0:,.2f}".format)
gender_purchasing["Male Average Purchase Total Per Person"] = gender_purchasing["Male Average Purchase Total Per Person"].map("${0:,.2f}".format)
gender_purchasing["Female Average Purchase Price"] = gender_purchasing["Female Average Purchase Price"].map("${0:,.2f}".format)    
gender_purchasing["Female Total Purchase Value"] = gender_purchasing["Female Total Purchase Value"].map("${0:,.2f}".format)
gender_purchasing["Female Average Purchase Total Per Person"] = gender_purchasing["Female Average Purchase Total Per Person"].map("${0:,.2f}".format)
gender_purchasing["Other / Non-Disclosed Gender Average Purchase Price"] = gender_purchasing["Other / Non-Disclosed Gender Average Purchase Price"].map("${0:,.2f}".format)
gender_purchasing["Other / Non-Disclosed Total Purchase Value"] = gender_purchasing["Other / Non-Disclosed Total Purchase Value"].map("${0:,.2f}".format)
gender_purchasing["Other / Non-Disclosed Average Purchase Total Per Person"] = gender_purchasing["Other / Non-Disclosed Average Purchase Total Per Person"].map("${0:,.2f}".format)
# Average purchase total by gender needs to be rounded...
gender_purchasing

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

*The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

*Purchase Count
*Average Purchase Price
*Total Purchase Value
*Average Purchase Total per Person by Age Group

In [ ]:
# define the bins for age ranges
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99000.90]

# Create the names for the bins (one label for each comma)
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_age_range = purchase_data_demographics
purchase_data_age_range = pd.cut(purchase_data_age_range.loc[:,"Age"], age_bins, labels=age_labels)

In [ ]:
age_demographics_total = purchase_data_age_range.value_counts()
age_demographics_percentage = age_demographics_total / count_of_players * 100


age_demographics = pd.DataFrame(
    {"Total Count": age_demographics_total, 
     "Percentage of Players": age_demographics_percentage
    })
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{0:,.2f}%".format)
age_demographics.sort_index()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# define the bins for age ranges
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99000.90]

# Create the names for the bins (one label for each comma)
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_age_purchasing = purchase_data
purchase_data_age_purchasing["Age Range"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data_age_purchasing

In [ ]:
purchase_data_age_purchasing = purchase_data_age_purchasing.groupby("Age Range")
purchase_data_age_purchasing.max()
#purchasing_summary["Total Revenue"] = purchasing_summary["Total Revenue"].map("${0:,.2f}".format)
#Run basic calculations with purchasing data, not demographic data
#count_purchase_age = purchase_data_age_purchasing[(purchase_data_age_purchasing["Age Range"]["Purchase ID"].nunique())
#average_purchase_price_age = purchase_data[purchase_data["Gender"]=="Male"]["Price"].sum() / purchase_data["Gender"].value_counts()["Male"] 
#total_purchase_age = purchase_data["Price"].sum()
#average_purchase_total_age = (purchase_data[purchase_data["Gender"]=="Male"]["Price"].sum() + purchase_data["Gender"].value_counts()["Male"]) / purchase_data["Gender"].value_counts()["Male"] 
#count_purchase_age
                                                  
# purchase_data_age_purchasing.sort_index()

In [ ]:
purchasing_data_age_analysis = pd.DataFrame(
    {"Age Ranges": purchase_data_age_purchasing["Age Range"], 
     "Purchase Count": purchase_data_age_purchasing["Age Range"], 
#     "Avenue Purchase Price": ,
 #    "Total Purchase Value": , 
  #   "Average Total Purchase per Person"
    })
purchasing_data_age_analysis

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
#Username with the highest amount spent
#Retrieve Item ID, Item Name, and Item Price columns
top_spenders = purchase_data.loc[:, ["SN", "Item Name", "Price"]]

#add variables
item_count = popular_items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_price = popular_items.groupby(["Item ID", "Item Name"])["Price"]
total_items_purchased = popular_items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

total_items_purchased

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Total Purchase Value, Length: 183, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
#Retrieve Item ID, Item Name, and Item Price columns
popular_items = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

#add variables
item_count = popular_items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_price = popular_items.groupby(["Item ID", "Item Name"]).sum()["Price"]
total_items_purchased = popular_items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
popular_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [ ]:
popular_items_sorted = item_count.sort_values(a)
#popular_items_sorted["Purchase Count"] = popular_items_sorted["Purchase Count"]=

popular_items_sorted

In [ ]:
popular_items = pd.DataFrame(
    {"Purchase Count": item_count,
     "Item Price": item_price,
     "Total Purchase Value": total_items_purchased * item_count
     })
popular_items

In [ ]:
popular_items  = popular_items["Item Price"].map("${:,.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:,.2f}".format)
popular_items

In [ ]:
popular_items_final = popular_items_sorted.loc[:, ["Purchase Count", "Item Price", "Total Purchase Value"]]
popular_items_final.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
mylist = [1, 2, 3]
def myfunc(x):
    return mylist[x]

myfunc(1)